    <router-outlet>  </router-outlet>
    
    <div style="margin-top:20px;">
    <h1 style="display:inline;">List of Cars</h1>
    <a style="float:right;" class="btn btn-primary" routerLink="../addCar">ADD</a>
    </div>
    <div class="container" style="margin-top:10px;">
        <div class="row">
        <div class="col-md-6">
        <div class="thumbnail" *ngFor="let Car of cars">
     <img [src]="Car.image">
       {{Car.name }}
       {{Car.type}}
       {{Car.price }}
      <div >
     
        <button class="btn btn-warning" routerLink="../modifyCar/{{Car._id}}">Modify</button>
    
      <button class="btn btn-danger" type="button" (click)="OnDelete(Car._id)">Delete</button>
    
     </div>
        </div>
        </div>
  
    </div>
    </div>
