          <div class="row">
               <h1 style="text-align:center;">Details..</h1>
               <div style="width:50%; margin:25px auto;">
                   <form  (ngSubmit)="onSubmit(f)" #f="ngForm">
                      <div class="form-group">
                         <label> Name:</label>
                         <input disabled class="form-control" name="name" type="text" placeholder="name" [ngModel]="userService.userDetail.name">
                      </div>  
                      <div class="form-group">
                          <label>DOB:</label> 
                          <input disabled class="form-control" type="date" ng-model="date" value="{{ userService.userDetail.dob | date: 'yyyy-MM-dd' }}" />
                       </div>
                      <div class="form-group">
                          <label>Username:</label> 
                          <input disabled class="form-control" name="username" type="text" placeholder="abc" [ngModel]="userService.userDetail.username">
                       </div>
                      <div class="form-group">
                          <label>Phone No:</label>
                          <input disabled class="form-control" name="phoneNo" type="number" placeholder="XXXXXXXXXX" [ngModel]="userService.userDetail.phone">
                      </div>
                      <div class="form-group ">
                          <label>address</label>
                              <input disabled type="text" class="form-control" placeholder="state" name="state"[ngModel]="userService.userDetail.state">
                              <input disabled type="text" class="form-control" placeholder="city" name="city" [ngModel]="userService.userDetail.city">
                              <input disabled type="number" class="form-control" placeholder="pin" name="pin" [ngModel]="userService.userDetail.pin">
                      </div>
                      <div class="form-group">
                          <label>DL Image:</label> 
                          <input disabled class="form-control" name="dl" type="text" placeholder="Dl image link"[ngModel]="userService.userDetail.dl">
                      </div>
                      <div class="form-group">
                         <label>Email:</label> 
                         <input disabled class="form-control" name="email" type="email" placeholder="abc@example.com" [ngModel]="userService.userDetail.email">
                      </div>
                      <div class="form-group">
                             <input  type="checkbox"  name="confirm" [ngModel]="confrim"  (click)="onConfirm()">All above details are correct..??
                      </div>
                      <div class="form-group">
                              <button class="btn btn-lg btn-primary btn-block"[disabled]="!confirm">Pay</button>
                       </div>
                  </form>
              </div>
          </div>
  